.content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.site-logo-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.tickets-wrapper {
    display: inline-flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.tickets-column-wrapper {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1; 
}

@media (min-width: 768px) {
    .content {
        width: 755px;
    }
    
    .tickets-wrapper {
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .tickets-column-wrapper {
        display: inline-flex;
        flex-direction: column;
        flex-grow: 1; 
    }

    .filter-wrapper {
        margin-left: 0;
        margin-right: 20px;
    }
}