.filter-wrapper {
    width: 232px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.filter-body {
    padding: 20px 0 10px 0;
}

.filter__title {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4A4A4A;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.filter__checkbox-wrapper {
    padding: 10px 20px;
    cursor: pointer;
}

.filter__checkbox-wrapper:hover {
    background-color: #F1FCFF;
}

.filter__checkbox-label {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #4A4A4A;
    margin-left: 10px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .filter-wrapper {
        margin-left: auto;
        margin-right: 20px;
    }
}